[Desktop Entry]
Type=Application
Name=Xcosh Wallet
GenericName=Cryptocurrency Wallet
Comment=Xcosh peer-to-peer network client and wallet
Exec=xcosh-qt %u
Icon=xcosh-qt
Terminal=false
Categories=Office;Finance;Network;
StartupWMClass=xcosh-qt
MimeType=x-scheme-handler/xcosh;
